/*  */
ul {
  list-style-type: none;
}
.heading {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 10px;
}
.tech-icons-mainn {
  display: grid;
  justify-content: center;
  margin: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.penguin-div img {
  width: auto;
  height: auto;
  border-radius: 20%;
}
@media (max-width: 767px) {
  .kwi {
    font-size: 1.5rem;
  }

  .penguin-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
  }
  .penguin-div img {
    width: 80%;
    height: 50%;
  }
  .tech-icons-mainn {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
.proffesional-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.proffesional {
  margin-top: 4rem;
}
.row {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .about-desc {
    margin-right: 100px;
    margin-left: 60px;
  }
}

.tech-icons {
  border-radius: 20px !important;
  box-shadow: 10px 10px 10px 10px rgba(89, 4, 168, 0.137) !important;
  display: table !important;
  font-size: 2em !important;
  opacity: 0.93 !important;
  padding: 0px !important;
  text-align: center !important;
  transition: all 0.4s ease 0s !important;
  vertical-align: middle !important;
}

.tech-icons:hover {
  transform: translateY(-10px);
}
/* Apply the hover effect to the paths with the 'hover-fill' class */
.cpp:hover .hover-fill {
  fill: skyblue;
}

.react:hover svg {
  fill: #00d8ff;
}

.node:hover svg {
  fill: #026e00;
}
.express:hover svg {
  fill: #717dad;
}
.mongodb:hover svg {
  fill: #007632;
}
.firebase:hover svg {
  fill: #ffcc30;
}
.js:hover svg {
  fill: #ffcc30;
}
