/*  */
ul{
    list-style-type: none;
}
.heading{
font-size: 2rem;
font-weight: 500;
padding-top: 10px;
}
.tech-icons-mainn
{
    display: grid;
    justify-content: center;
margin: 20px;
  grid-template-columns: repeat(4,1fr);
  
}
.tech-icons{
    border-radius: 20px!important;
    box-shadow: 10px 10px 10px 10px rgba(89,4,168,.137)!important;
    display: table!important;
    font-size: 2em!important;
    opacity: .93!important;
    padding:0px!important;
    text-align: center!important;
    transition: all .4s ease 0s!important;
    vertical-align: middle!important;

}
.tech-icons:hover{
    border: 2px solid rgba(237,22,179,.883)!important;
    overflow: hidden;
    transform: scale(1.1);
}