:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}
#home {
  overflow-x: hidden;
  width: auto;
}
.home-content {
  color: #f5f5f5;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home-header {
  padding-top: 80px !important;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.picture {
  display: flex;
}
#myimg {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.4);
  border: 5px solid #fcfc62; /* Set the border width and color to transparent */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: whitesmoke;
  font-size: 2rem;
}
.text {
  font-size: 2rem;
  color: #fc0fc0;
}
.purple {
  color: #fc0fc0;
}
.home-about-section {
  padding-bottom: 150px;
  padding-top: 70px;
  position: relative;
}
.home-about-section .container {
  display: grid;
}

.home-about-description {
  color: #fff !important;
  padding-bottom: 20px !important;
  padding-top: 100px !important;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}
.home-about-body {
  font-size: 1.5em;
  padding-top: 50px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.logos a {
  background-color: hsla(0, 0%, 100%, 0.972);

  padding: 0.3rem;
  border-radius: 50%;
}

/* CSS for mobile screens */
@media (max-width: 767px) {
  .home-about-body {
    font-size: 1.5em;
  }
  .text {
    font-size: 1rem;
    color: #fc0fc0;
  }
}
.home-about-title {
  font-size: 2.6rem;
}
@media (max-width: 767px) {
  .home-about-title {
    font-size: 1.9rem;
  }
}
.roww {
  margin-left: 10px;
  margin-right: 10px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.logos {
  color: white;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .roww {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 20px;
  padding-top: 25px;
}
.buttons {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.buttons button {
  color: var(--clr-neon);
  background-color: black;
  font-size: 3rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: var(--clr-neon) 4px solid;
  padding: 0.25em 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.25em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}
@media (max-width: 774px) {
  .buttons button {
    font-size: 1.5rem;
  }
  .img-fluid {
    height: 250px;
  }
  .inner {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

.buttons button::before {
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.5em);
  opacity: 0.7;
  pointer-events: none;
}
.buttons button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 0.5em 0em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
}
.buttons button:hover {
  background: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}
.buttons button:hover::after {
  opacity: 1;
}
.logos a {
  color: #fc0fc0;
}

.home-about-body span:hover {
  color: #fc0fc0;
  font-weight: bolder;
}
@keyframes moveUp {
  0% {
    top: 100px; /* Adjust this value to control the starting position */
  }
  100% {
    top: 0;
  }
}
